body {
    font-family: Arial;
    font-size: 15px;
    padding: 5px 10px;
    color: #eee;
    background-color: #222222;
}
h1 {
    text-align: center;
}
textarea, input {
    font-family: Monospace;
    font-size: 13px;
    color: #eee;
    padding: 5px 5px;
    height: 10px;
    width: 200px;
    margin-top: 5px;
    resize: none;
    outline: none;
    border: 2px solid #383838;
    border-radius: 5px;
    background-color: #333333;
}

textarea {
    margin-bottom: 5px;
    margin-right: 15px;
    width: 100%;
    height: 200px;
    white-space: pre;
}

button {
    background-color: #5865f2;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px 15px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
}
#danger {
    background-color: #ed4245;
}
#secondary {
    background-color: #4f535c;
}
#success {
    background-color: #57f287;
}
